// LOG IN DOC
//html { height: 100% }

main {
        
        .backgroundLogIn {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            background-image: url('../images/background.png');
            background-size: cover;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            -webkit-filter: blur(5px); /* Safari */
            filter: blur(5px);
      
    }
  
    .logIn-container{
        position: absolute;
        z-index: 200;
        left: 31%;
        top: 25%;
        display: block;
        margin: 0 auto;
        background-color: rgba(48,113,183,0.3);
        border: 1px solid $color;
        border-radius: 6px;
        height: 280px;
        width: 40%;
        
                @include small {
                    
                    width:60%;
                    left: 20%;
                }
                
        input[type="password"], input[type="text"] {
          font-family:$mainFont; 
          border-radius: 4px;
          box-shadow: 0 1px #fff;
          box-sizing: border-box;
          color: #696969;
          height: 39px;
          margin: 15px 0 0 10%;
          padding-left: 5%;
          transition: box-shadow 0.3s;
          width: 80%;
        }
        
        input[type="password"] {
            margin-bottom: 10px;
        }
        
        input[type="password"]:focus, input[type="text"]:focus {
          box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
          outline: 0;
        }
        
        input[type="submit"] {
          width:80%;
          height:35px;
          display:block;
          font-family:$mainFont;
          font-size:$fontSizeSmall;
          font-weight:bold;
          color:#000000;
          text-decoration:none;
          text-transform:uppercase;
          text-align:center;
          text-shadow:1px 1px 0px #f2fcfd;
          margin: 5% 0 0 10%;
          position:relative;
          cursor:pointer;
          border: none;  
          background-color: $backgroundColor;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius:5px;
          box-shadow: inset 0px 1px 0px #f2fcfd, 0px 5px 0px 0px #a9c7cc, 0px 10px 5px #999;
        }

        
        h1 {
            font-family: $mainFont;
            font-size: $bodyHeader;
            color: $color;
            margin: 0 0 0 29px; 
            line-height: 50px;
        }
        
        a {
            margin: 0 0 0 10%; 
            font-family: $mainFont;
            color: $blue;
            text-decoration: none;
            
            &:hover, &:active {
                color: $color;
            }
        }
    }

}