// DOC VARIABLES RASTA

$mainFont:  'Patrick Hand', cursive;
$logoFont: 'Sedgwick Ave Display', cursive;
$bodyHeader: 24px;
$bodySubheader: 20px;
$fontSizeSmall: 18px;
$percentBorderRadius: 40%;
$BGcolor: #567215;
$BGdarkBlue: #d4cc00;
$BGlightDarkBlue: #f7bc1d;
$lightBlue: #1a770a;
$blue: #830505;
$gold: #bf932e;
$green: #952323;
$pink: #0dff57;
$greyFont: #952323;
$chatFont: #242021;
$backgroundColor: #719323;
$color: #2a2a2a;
$speechbubbleColor: #b78106;
$barPosition: 100px;
$showWeed: inherit;
