// DOC VARIABLES

$mainFont: 'Oxygen', sans-serif;
$logoFont: 'Sedgwick Ave Display', cursive;
$bodyHeader: 24px;
$bodySubheader: 20px;
$fontSizeSmall: 16px;
$percentBorderRadius: 50%;
$BGcolor: #efefef;
$BGdarkBlue: #333544;
$BGlightDarkBlue: #325680;
$lightBlue: #47b1ff;
$blue: #2e668e;
$gold: #bf932e;
$green: #15b227;
$pink: #ff6384;
$greyFont: #767676;
$chatFont: #242021;
$backgroundColor: #ffffff;
$color: #ffffff;
$speechbubbleColor: #ffffff;
$barPosition: 70px;
$showWeed: none;