// DOC VARIABLES DARK

$mainFont: 'Oxygen', sans-serif;
$logoFont: 'Sedgwick Ave Display', cursive;
$bodyHeader: 24px;
$bodySubheader: 20px;
$fontSizeSmall: 16px;
$percentBorderRadius: 30%;
$BGcolor:#5d5d5d;
$BGdarkBlue: #454b74;
$BGlightDarkBlue: #2e65a5;
$lightBlue: #2e668e;
$blue: #68acdd;
$gold: #bf932e;
$green: #15b227;
$pink: #ff6384;
$greyFont: #212020;
$chatFont: #ffffff;
$backgroundColor: #3b3b3b;
$color: #3b3b3b;
$speechbubbleColor: #2b373b;
$barPosition: 70px;
$showWeed: none;